# Copyrighted test files from
# https://web.archive.org/web/20111020022811/http://members.cox.net:80/artludwig (3 files)
440*.wav
# https://www.audiocheck.net/testtones_thdFull.php (54 files)
audiocheck.net*.wav
